<div class="py-4 mb-2">
  <h3 class="d-inline-block">Mypages</h3>
  <div class="float-end">
    <%= linkTo(newMypagesPath(), {class: "btn btn-primary"}) { %>
      Create New Mypage
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (mypage) in mypages { %>
      <tr>
        
        <td>
          <div class="float-end">
            <%= linkTo(mypagePath({ mypage_id: mypage.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editMypagePath({ mypage_id: mypage.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(mypagePath({ mypage_id: mypage.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
