<div class="py-4 mb-2">
  <h3 class="d-inline-block">Scenario Details</h3>

  <div class="float-end">
    <%= linkTo(scenariosPath(), {class: "btn btn-info"}) { %>
      Back to all Scenarios
    <% } %>
    <%= linkTo(editScenarioPath({ scenario_id: scenario.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(scenarioPath({ scenario_id: scenario.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">

</ul>
